/* styles.css */

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #fceabb, #f8b500, #ff8e00);
}

.container {
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 3vw; /* Responsive font size */
  margin-bottom: 2vw; /* Responsive margin */
}

h2 {
  font-size: 2vw; /* Responsive font size */
  margin-bottom: 2vw; /* Responsive margin */
}

#countdown {
  font-size: 2vw; /* Responsive font size */
  margin-top: 5vw; /* Responsive margin */
  animation: countdown-animation 1s ease-in-out infinite alternate;
}

#photos {
  margin-top: 5vw; /* Responsive margin */
  display: flex;
  justify-content: center;
}

.your-photo,
.partner-photo {
  width: 15vw; /* Responsive width */
  height: 15vw; /* Responsive height */
  object-fit: cover;
  margin: 0 2vw; /* Responsive margin */
  border-radius: 50%;
  border: 0.5vw solid #fff; /* Responsive border */
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.3); /* Responsive box shadow */
  animation: photo-fade-in 2s ease forwards;
}

#confetti {
  margin-top: 5vw; /* Responsive margin */
  display: flex;
  justify-content: center;
}

.confetti {
  width: 1vw; /* Responsive width */
  height: 1vw; /* Responsive height */
  background-color: #f00;
  border-radius: 50%;
  animation: confetti-fall linear infinite;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

@keyframes countdown-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes photo-fade-in {
  from {
    opacity: 0;
    transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 5vw; /* Responsive font size */
  }

  h2 {
    font-size: 3vw; /* Responsive font size */
  }

  #countdown {
    font-size: 3vw; /* Responsive font size */
  }

  .your-photo,
  .partner-photo {
    width: 30vw; /* Responsive width */
    height: 30vw; /* Responsive height */
    margin: 0 5vw; /* Responsive margin */
    border-width: 1vw; /* Responsive border width */
    box-shadow: 0 0 3vw rgba(0, 0, 0, 0.3); /* Responsive box shadow */
  }

  .confetti {
    width: 2vw; /* Responsive width */
    height: 2vw; /* Responsive height */
  }
}
